Repository strapi/design-system, pull requests merged in 2023-08, with the labels that each got.

#1249 Chore: Setup dependabot dependency grouping
  .github/dependabot.yml
Labels: pr: chore, source: dependencies

#1250 Chore: Add engines configuration to package.json files
  package.json
  website/package.json
Labels: pr: chore, source: tooling

#1258 Chore: Extend dependabot groups with storybook and eslint
  .github/dependabot.yml
Labels: pr: chore, source: dependencies

#1266 fix: date picker & time picker input patterns
  packages/strapi-design-system/src/DatePicker/DatePicker.tsx
  packages/strapi-design-system/src/DatePicker/__tests__/DatePicker.spec.tsx
  packages/strapi-design-system/src/TimePicker/TimePicker.tsx
  packages/strapi-design-system/src/TimePicker/__tests__/TimePicker.spec.tsx
Labels: pr: fix, source: design-system

#1268 feat: add forwardRefs to components
  packages/strapi-design-system/src/BaseCheckbox/BaseCheckbox.tsx
  packages/strapi-design-system/src/CarouselInput/Carousel.tsx
  packages/strapi-design-system/src/CarouselInput/CarouselInput.tsx
  packages/strapi-design-system/src/Checkbox/Checkbox.tsx
  packages/strapi-design-system/src/Combobox/Combobox.tsx
  packages/strapi-design-system/src/DatePicker/DatePicker.tsx
  packages/strapi-design-system/src/DateTimePicker/DateTimePicker.tsx
  packages/strapi-design-system/src/JSONInput/JSONInput.tsx
  packages/strapi-design-system/src/JSONInput/JSONInputContainer.tsx
  packages/strapi-design-system/src/Select/MultiSelect.tsx
  packages/strapi-design-system/src/Select/SingleSelect.tsx
  packages/strapi-design-system/src/TextInput/TextInput.tsx
  packages/strapi-design-system/src/TimePicker/TimePicker.tsx
  packages/strapi-design-system/src/ToggleInput/ToggleInput.tsx
Labels: pr: enhancement, source: design-system

#1270 [release]: 1.9.0
  lerna.json
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1272 chore: use strapi/eslint config for ui-primitives
  .eslintignore
  .eslintrc
  package.json
  packages/primitives/.eslintrc
  packages/primitives/jest.config.js
  packages/primitives/src/components/Collection.tsx
  packages/primitives/src/components/Collection/index.ts
  packages/primitives/src/components/Combobox/Combobox.tsx
  packages/primitives/src/components/Combobox/__tests__/Combobox.test.tsx
  packages/primitives/src/components/Combobox/index.ts
  packages/primitives/src/components/Select/Select.tsx
  packages/primitives/src/components/Select/__tests__/Select.test.tsx
  packages/primitives/src/components/Select/index.ts
  packages/primitives/src/hooks/useCollator.ts
  packages/primitives/src/hooks/useFilter.ts
  packages/primitives/src/index.ts
  packages/primitives/tsconfig.eslint.json
  packages/primitives/vite.config.ts
  packages/strapi-design-system/.eslintrc
  yarn.lock
Labels: pr: chore, source: primitives

#1285 chore: add commitlint
  .commitlintrc.ts
  .husky/commit-msg
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  package.json
  yarn.lock
Labels: pr: chore, source: tooling

#1288 chore: Add storybook to dependabot storybook group
  .github/dependabot.yml
Labels: pr: chore, source: dependencies

#1273 Add a flag to the build config of the design-system to publish types
  CONTRIBUTING.md
  package.json
  packages/primitives/package.json
  packages/strapi-design-system/vite.config.ts
  packages/strapi-icons/package.json
  packages/strapi-icons/vite.config.ts
  yarn.lock
Labels: pr: chore, source: design-system

#1306 fix: export IconButtonProps to be used in helper-plugin migration
  packages/strapi-design-system/src/IconButton/IconButton.tsx
Labels: pr: enhancement, source: design-system

#1317 Rich text editor blocks icon
  packages/strapi-icons/assets/icons/Blocks.svg
Labels: pr: feature, source: icons
