Repository strapi/design-system, pull requests merged in 2023-09, with the labels that each got.

#1177 chore: add changesets
  .changeset/config.json
  .github/workflows/tests.yml
  CONTRIBUTING.md
  lerna.json
  package.json
  scripts/pre-publish.sh
  yarn.lock
Labels: pr: chore, source: tooling

#1319 feat(IconButton): add `size` and `variant` props
  .changeset/lemon-rats-talk.md
  docs/stories/IconButton.stories.tsx
  packages/strapi-design-system/src/IconButton/IconButton.tsx
  packages/strapi-design-system/src/ModalLayout/__tests__/ModalLayout.spec.tsx
  packages/strapi-design-system/src/ModalLayout/__tests__/__snapshots__/ModalLayout.spec.tsx.snap
Labels: pr: feature, source: design-system

#1322 fix: dts build / pkg exports & husky
  .changeset/few-geese-occur.md
  .github/workflows/bundle-size.yml
  docs/.eslintrc
  docs/package.json
  package.json
  packages/primitives/jest.config.mjs
  packages/primitives/package.json
  packages/primitives/tsconfig.eslint.json
  packages/primitives/vite.config.ts
  packages/strapi-design-system/.eslintrc
  packages/strapi-design-system/jest.config.mjs
  packages/strapi-design-system/package.json
  packages/strapi-design-system/tsconfig.eslint.json
  packages/strapi-design-system/tsconfig.json
  packages/strapi-design-system/vite.config.ts
  packages/strapi-icons/package.json
  packages/strapi-icons/vite.config.ts
  yarn.lock
Labels: pr: fix, source: tooling

#1329 release: 1.10.0
  .changeset/config.json
  .changeset/eighty-oranges-leave.md
  .changeset/empty-lizards-tickle.md
  .changeset/few-geese-occur.md
  .changeset/green-cows-occur.md
  .changeset/lemon-rats-talk.md
  .changeset/light-shirts-crash.md
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1333 fix(IconButton): respect `borderWidth`
  .changeset/forty-seals-tan.md
  packages/strapi-design-system/src/IconButton/IconButton.tsx
  packages/strapi-design-system/src/ModalLayout/__tests__/__snapshots__/ModalLayout.spec.tsx.snap
Labels: pr: fix, source: design-system

#1335 feat: export theme types
  docs/styled.d.ts
  packages/strapi-design-system/src/DatePicker/DatePicker.tsx
  packages/strapi-design-system/src/Field/FieldInput.tsx
  packages/strapi-design-system/src/Status/Status.tsx
  packages/strapi-design-system/src/themes/colors.ts
  packages/strapi-design-system/src/themes/common-theme.ts
  packages/strapi-design-system/src/themes/darkTheme/dark-colors.ts
  packages/strapi-design-system/src/themes/darkTheme/dark-shadows.ts
  packages/strapi-design-system/src/themes/index.ts
  packages/strapi-design-system/src/themes/lightTheme/light-colors.ts
  packages/strapi-design-system/src/themes/lightTheme/light-shadows.ts
  packages/strapi-design-system/src/themes/sizes.ts
  packages/strapi-design-system/src/themes/utils.ts
  packages/strapi-design-system/styled.d.ts
Labels: pr: feature, source: design-system

#1336 release: 1.10.1
  .changeset/curly-ligers-yell.md
  .changeset/forty-seals-tan.md
  package.json
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1332 chore: move to turbo repo
  .github/workflows/bundle-size.yml
  .github/workflows/experimental.yml
  .github/workflows/tests.yml
  .husky/pre-commit
  nx.json
  package.json
  turbo.json
  yarn.lock
Labels: pr: chore, source: tooling

#1346 fix(design-system): use FieldLabelProps['action'] to define labelAction
  .changeset/pink-hats-tie.md
  packages/strapi-design-system/src/Accordion/AccordionGroup.tsx
  packages/strapi-design-system/src/Combobox/Combobox.tsx
  packages/strapi-design-system/src/DateTimePicker/DateTimePicker.tsx
  packages/strapi-design-system/src/JSONInput/JSONInput.tsx
  packages/strapi-design-system/src/Select/MultiSelect.tsx
  packages/strapi-design-system/src/Select/SingleSelect.tsx
  packages/strapi-design-system/src/Textarea/Textarea.tsx
  packages/strapi-design-system/src/TimePicker/TimePicker.tsx
  packages/strapi-design-system/src/ToggleInput/ToggleInput.tsx
Labels: pr: fix, source: design-system

#1347 fix: turbo cache for strapi-icons
  turbo.json
Labels: pr: chore, source: tooling

#1348 fix: some types were not exported
  .changeset/rich-plants-clap.md
  packages/primitives/src/components/Select/Select.tsx
  packages/strapi-design-system/src/Popover/Popover.tsx
  packages/strapi-design-system/src/Popover/index.tsx
Labels: pr: fix, source: design-system

#1351 fix: export LinkButton type
  .changeset/lovely-mangos-lick.md
  packages/strapi-design-system/src/v2/LinkButton/LinkButton.tsx
Labels: pr: fix, source: design-system

#1350 RTE: icons for the headings dropdown
  .changeset/breezy-papayas-reply.md
  packages/strapi-icons/assets/icons/HeadingFive.svg
  packages/strapi-icons/assets/icons/HeadingFour.svg
  packages/strapi-icons/assets/icons/HeadingOne.svg
  packages/strapi-icons/assets/icons/HeadingSix.svg
  packages/strapi-icons/assets/icons/HeadingThree.svg
  packages/strapi-icons/assets/icons/HeadingTwo.svg
  packages/strapi-icons/assets/icons/Paragraph.svg
Labels: pr: feature, source: icons

#1352 release: 1.11.0
  .changeset/breezy-papayas-reply.md
  .changeset/lovely-mangos-lick.md
  .changeset/pink-hats-tie.md
  .changeset/rich-plants-clap.md
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1370 fix: date time picker value from being masked in small screens
  .changeset/happy-pants-ring.md
  packages/strapi-design-system/src/DateTimePicker/DateTimePicker.tsx
Labels: pr: fix, source: design-system
