Repository strapi/design-system, pull requests merged in 2023-06, with the labels that each got.

#1085 fix: combobox filtering / race-condition and flash rendering
  packages/primitives/src/components/Combobox/Combobox.tsx
  packages/primitives/src/components/Combobox/__tests__/index.test.tsx
Labels: pr: fix, source: primitives

#1097 Fix: CarouselInput - fix slide rendering
  docs/public/second.png
  docs/public/third.png
  docs/stories/Carousel.stories.mdx
  lerna.json
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-design-system/src/CarouselInput/CarouselImage.tsx
  packages/strapi-design-system/src/CarouselInput/CarouselSlide.tsx
  packages/strapi-design-system/src/Flex/Flex.tsx
  packages/strapi-design-system/src/Layout/ActionLayout.tsx
  packages/strapi-icons/package.json
  yarn.lock
Labels: pr: fix, source: design-system

#1092 Fix: Optimize Alert component for size and align styles with UI Kit
  packages/strapi-design-system/src/Alert/Alert.tsx
  packages/strapi-design-system/src/Alert/utils.ts
Labels: pr: chore, source: design-system

#1098 Release/1.7.10
  docs/public/second.png
  docs/public/third.png
  docs/stories/Carousel.stories.mdx
  packages/primitives/package.json
  packages/primitives/src/components/Combobox/Combobox.tsx
  packages/primitives/src/components/Combobox/__tests__/index.test.tsx
  packages/strapi-design-system/src/Button/Button.tsx
  packages/strapi-design-system/src/CarouselInput/CarouselImage.tsx
  packages/strapi-design-system/src/CarouselInput/CarouselSlide.tsx
  packages/strapi-design-system/src/Flex/Flex.tsx
  packages/strapi-design-system/src/ModalLayout/__tests__/ModalLayout.spec.tsx
  yarn.lock
Labels: source: release, pr: release

#1102 Release 1.7.10
  lerna.json
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1107 Blitz Fixes
  docs/.storybook/components/Theme.js
  packages/primitives/src/components/Combobox/Combobox.tsx
  packages/strapi-design-system/src/DatePicker/DatePicker.tsx
  packages/strapi-design-system/src/DateTimePicker/DateTimePicker.tsx
  packages/strapi-design-system/src/TimePicker/TimePicker.tsx
Labels: pr: fix, source: design-system

#1114 Chore: Update MainNav to Typescript
  packages/strapi-design-system/src/MainNav/MainNav.tsx
  packages/strapi-design-system/src/MainNav/MainNavContext.tsx
  packages/strapi-design-system/src/MainNav/NavBrand.tsx
  packages/strapi-design-system/src/MainNav/NavCondense.tsx
  packages/strapi-design-system/src/MainNav/NavFooter.js
  packages/strapi-design-system/src/MainNav/NavFooter.tsx
  packages/strapi-design-system/src/MainNav/NavLink.tsx
  packages/strapi-design-system/src/MainNav/NavSection.tsx
  packages/strapi-design-system/src/MainNav/NavSections.tsx
  packages/strapi-design-system/src/MainNav/NavUser.js
  packages/strapi-design-system/src/MainNav/NavUser.tsx
  packages/strapi-design-system/src/MainNav/index.ts
  packages/strapi-design-system/src/Tooltip/Tooltip.tsx
Labels: pr: chore, source: design-system

#1058 Convert Breadcrumbs v2 to Typescript
  packages/strapi-design-system/src/v2/Breadcrumbs/Breadcrumbs.tsx
  packages/strapi-design-system/src/v2/Breadcrumbs/Crumb.tsx
  packages/strapi-design-system/src/v2/Breadcrumbs/CrumbLink.tsx
  packages/strapi-design-system/src/v2/Breadcrumbs/CrumbSimpleMenu.tsx
  packages/strapi-design-system/src/v2/Breadcrumbs/Divider.tsx
  packages/strapi-design-system/src/v2/Breadcrumbs/__tests__/Breadcrumbs.e2e.ts
  packages/strapi-design-system/src/v2/Breadcrumbs/__tests__/Breadcrumbs.spec.tsx
  packages/strapi-design-system/src/v2/Breadcrumbs/index.ts
Labels: pr: chore, source: design-system

#1157 fix: subcontent overflow
  packages/strapi-design-system/src/v2/SimpleMenu/Menu.tsx
  yarn.lock
Labels: pr: fix, source: design-system

#1165 fix: date picker typing localisation
  packages/strapi-design-system/src/DatePicker/DatePicker.tsx
  packages/strapi-design-system/src/DatePicker/__tests__/DatePicker.spec.tsx
Labels: pr: fix, source: design-system

#1166 fix: only call onBlur if the menu is not open
  packages/primitives/src/components/Combobox/Combobox.tsx
  packages/strapi-design-system/src/Combobox/__tests__/Combobox.spec.tsx
Labels: pr: fix, source: design-system

#1150 fix: Breadcrumbs (v2) abbrevation menu is broken
  packages/strapi-design-system/src/Button/Button.tsx
  packages/strapi-design-system/src/ModalLayout/__tests__/ModalLayout.spec.tsx
  packages/strapi-design-system/src/v2/Breadcrumbs/CrumbSimpleMenu.tsx
  packages/strapi-design-system/src/v2/SimpleMenu/Menu.tsx
Labels: pr: fix, source: design-system
