Repository strapi/design-system, pull requests merged in 2023-05, with the labels that each got.

#984 Select/Combobox improvements
  packages/strapi-design-system/src/Combobox/Combobox.tsx
  packages/strapi-design-system/src/Select/SelectParts.tsx
Labels: pr: enhancement

#991 Let the DateInput control the DateCalendar
  packages/strapi-design-system/src/DatePicker/DatePicker.tsx
  packages/strapi-design-system/src/DatePicker/__tests__/DatePicker.spec.tsx
Labels: pr: enhancement

#999 Combobox tweaks
  packages/primitives/src/components/Combobox/Combobox.tsx
  packages/strapi-design-system/src/Combobox/Combobox.tsx
  packages/strapi-design-system/src/Combobox/__tests__/Combobox.spec.tsx
Labels: pr: enhancement

#998 Use specific intersection ids
  packages/strapi-design-system/src/Combobox/Combobox.tsx
  packages/strapi-design-system/src/Popover/Popover.tsx
  packages/strapi-design-system/src/Select/MultiSelect.tsx
  packages/strapi-design-system/src/Select/SingleSelect.tsx
  packages/strapi-design-system/src/Select/__tests__/Select.spec.tsx
  packages/strapi-design-system/src/helpers/__tests__/strings.test.ts
  packages/strapi-design-system/src/helpers/escapeSelector.ts
  packages/strapi-design-system/src/helpers/strings.ts
  packages/strapi-design-system/src/v2/SimpleMenu/SimpleMenu.tsx
Labels: pr: fix

#1008 Chore: Convert Main to Typescript
  packages/strapi-design-system/src/Main/Main.js
  packages/strapi-design-system/src/Main/Main.tsx
  packages/strapi-design-system/src/Main/SkipToContent.tsx
  packages/strapi-design-system/src/Main/index.ts
Labels: pr: chore, source: design-system

#1015 Use an isomorphic layout effect in `@strapi/ui-primitives`
  packages/primitives/package.json
  packages/primitives/src/components/Combobox/Combobox.tsx
  packages/primitives/src/hooks/useCallbackRef.ts
  packages/primitives/src/index.ts
  packages/strapi-design-system/package.json
  packages/strapi-design-system/src/SimpleMenu/SimpleMenu.js
  packages/strapi-design-system/src/Tabs/useTabsFocus.js
  packages/strapi-design-system/src/hooks/useControllableState.ts
  packages/strapi-design-system/src/hooks/useIntersection.ts
  packages/strapi-design-system/src/hooks/useResizeObserver.ts
  yarn.lock
Labels: pr: fix

#1033 When combobox has no items show the creatable option
  packages/primitives/src/components/Combobox/Combobox.tsx
  packages/strapi-design-system/src/Combobox/__tests__/Combobox.spec.tsx
Labels: pr: fix

#1035 Bring primitive/Combobox popover behaviour to be in line with Select
  docs/stories/Select.stories.mdx
  packages/primitives/src/components/Combobox/Combobox.tsx
  packages/primitives/src/components/Combobox/__tests__/index.test.tsx
Labels: pr: fix

#1009 Chore: Convert Pagination to Typescript
  packages/strapi-design-system/src/ModalLayout/__tests__/ModalLayout.spec.js
  packages/strapi-design-system/src/Pagination/Pagination.js
  packages/strapi-design-system/src/Pagination/Pagination.tsx
  packages/strapi-design-system/src/Pagination/PaginationContext.js
  packages/strapi-design-system/src/Pagination/PaginationContext.ts
  packages/strapi-design-system/src/Pagination/__tests__/Pagination.e2e.ts
  packages/strapi-design-system/src/Pagination/components.tsx
  packages/strapi-design-system/src/Pagination/index.ts
  packages/strapi-design-system/src/Typography/Typography.tsx
Labels: pr: chore, source: design-system

#1042 Chore: Convert ModalLayout to Typescript
  packages/strapi-design-system/src/ModalLayout/ModalBody.tsx
  packages/strapi-design-system/src/ModalLayout/ModalContext.ts
  packages/strapi-design-system/src/ModalLayout/ModalFooter.tsx
  packages/strapi-design-system/src/ModalLayout/ModalHeader.tsx
  packages/strapi-design-system/src/ModalLayout/ModalLayout.tsx
  packages/strapi-design-system/src/ModalLayout/__tests__/ModalLayout.e2e.ts
  packages/strapi-design-system/src/ModalLayout/__tests__/ModalLayout.spec.tsx
  packages/strapi-design-system/src/ModalLayout/index.ts
Labels: pr: chore, source: design-system

#1031 Convert NumberInput to Typescript
  packages/strapi-design-system/src/NumberInput/NumberInput.tsx
  packages/strapi-design-system/src/NumberInput/__tests__/NumberInput.e2e.ts
  packages/strapi-design-system/src/NumberInput/index.ts
  packages/strapi-design-system/src/hooks/useControllableState.ts
Labels: pr: chore

#1030 Chore: Convert Textarea to Typescript
  packages/strapi-design-system/src/Textarea/Textarea.js
  packages/strapi-design-system/src/Textarea/Textarea.tsx
  packages/strapi-design-system/src/Textarea/__tests__/Textarea.e2e.ts
  packages/strapi-design-system/src/Textarea/index.ts
Labels: pr: chore, source: design-system

#1056 Flatten CrossCircle icon
  packages/strapi-icons/assets/icons/CrossCircle.svg
Labels: pr: chore

#1061 chore: workflow updates
  .github/actions/check-pr-status/.eslintignore
  .github/actions/check-pr-status/.eslintrc.js
  .github/actions/check-pr-status/.gitignore
  .github/actions/check-pr-status/README.md
  .github/actions/check-pr-status/__tests__/action.test.js
  .github/actions/check-pr-status/action.yml
  .github/actions/check-pr-status/dist/index.js
  .github/actions/check-pr-status/index.js
  .github/actions/check-pr-status/jest.config.js
  .github/actions/check-pr-status/package.json
  .github/dependabot.yml
  .github/workflows/bundle-size.yml
  .github/workflows/checks.yml
Labels: pr: chore, source: tooling

#982 fix: Content Manager, Click outside the filter popover does not close it
  docs/stories/Popover.stories.mdx
  packages/strapi-design-system/package.json
  packages/strapi-design-system/src/Popover/Popover.tsx
  packages/strapi-design-system/src/Popover/__tests__/Popover.spec.tsx
  packages/strapi-design-system/src/SimpleMenu/__tests__/SimpleMenu.e2e.js
  yarn.lock
Labels: pr: fix, source: design-system

#1063 [release]: 1.7.6
  docs/stories/Popover.stories.mdx
  lerna.json
  packages/primitives/package.json
  packages/primitives/src/components/Combobox/Combobox.tsx
  packages/strapi-design-system/package.json
  packages/strapi-design-system/src/Popover/Popover.tsx
  packages/strapi-design-system/src/Popover/__tests__/Popover.spec.tsx
  packages/strapi-design-system/src/SimpleMenu/__tests__/SimpleMenu.e2e.js
  packages/strapi-icons/assets/icons/CrossCircle.svg
  packages/strapi-icons/assets/icons/Cube.svg
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1043 Chore: Convert Layout to Typescript
  packages/strapi-design-system/src/Layout/ActionLayout.js
  packages/strapi-design-system/src/Layout/ActionLayout.tsx
  packages/strapi-design-system/src/Layout/ContentLayout.js
  packages/strapi-design-system/src/Layout/ContentLayout.tsx
  packages/strapi-design-system/src/Layout/GridLayout.tsx
  packages/strapi-design-system/src/Layout/HeaderLayout.tsx
  packages/strapi-design-system/src/Layout/Layout.tsx
  packages/strapi-design-system/src/Layout/TwoColsLayout.tsx
  packages/strapi-design-system/src/Layout/__tests__/GridLayout.e2e.ts
  packages/strapi-design-system/src/Layout/__tests__/HeaderLayout.e2e.ts
  packages/strapi-design-system/src/Layout/__tests__/Layout.e2e.ts
  packages/strapi-design-system/src/Layout/__tests__/TwoColsLayout.e2e.ts
  packages/strapi-design-system/src/Layout/index.ts
  packages/strapi-design-system/src/hooks/useElementOnScreen.ts
  packages/strapi-design-system/src/hooks/useResizeObserver.ts
Labels: pr: chore, source: design-system

#1075 Chore: Flatten Layout component
  packages/strapi-design-system/src/Layout/ActionLayout.tsx
Labels: pr: chore, source: design-system

#1067 Chore: Convert Pagination (v2) to Typescript
  packages/strapi-design-system/src/v2/Pagination/Pagination.js
  packages/strapi-design-system/src/v2/Pagination/Pagination.tsx
  packages/strapi-design-system/src/v2/Pagination/PaginationContext.js
  packages/strapi-design-system/src/v2/Pagination/PaginationContext.ts
  packages/strapi-design-system/src/v2/Pagination/__tests__/Pagination.e2e.ts
  packages/strapi-design-system/src/v2/Pagination/components.tsx
  packages/strapi-design-system/src/v2/Pagination/index.ts
Labels: pr: chore, source: design-system

#1069 Convert v2/SubNav to Typescript
  packages/strapi-design-system/src/v2/SubNav/SubNav.tsx
  packages/strapi-design-system/src/v2/SubNav/SubNavHeader.tsx
  packages/strapi-design-system/src/v2/SubNav/SubNavLink.tsx
  packages/strapi-design-system/src/v2/SubNav/SubNavLinkSection.tsx
  packages/strapi-design-system/src/v2/SubNav/SubNavSection.tsx
  packages/strapi-design-system/src/v2/SubNav/SubNavSectionLabel.tsx
  packages/strapi-design-system/src/v2/SubNav/SubNavSections.tsx
  packages/strapi-design-system/src/v2/SubNav/__tests__/SubNav.e2e.ts
  packages/strapi-design-system/src/v2/SubNav/index.ts
Labels: pr: enhancement, source: design-system

#1080 Convert Table to Typescript
  packages/strapi-design-system/src/RawTable/RawTr.tsx
  packages/strapi-design-system/src/Table/Cell.tsx
  packages/strapi-design-system/src/Table/TFooter.tsx
  packages/strapi-design-system/src/Table/Table.tsx
  packages/strapi-design-system/src/Table/Tbody.js
  packages/strapi-design-system/src/Table/Tbody.tsx
  packages/strapi-design-system/src/Table/Thead.js
  packages/strapi-design-system/src/Table/Thead.tsx
  packages/strapi-design-system/src/Table/Tr.tsx
  packages/strapi-design-system/src/Table/__tests__/Table.e2e.ts
  packages/strapi-design-system/src/Table/index.ts
Labels: pr: chore, source: design-system

#1087 Chore: ActionLayout - fix actions condition
  packages/strapi-design-system/src/Layout/ActionLayout.tsx
Labels: pr: fix, source: design-system

#1088 Release/1.7.9
  lerna.json
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-design-system/src/Layout/ActionLayout.tsx
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1089 Fix: Button start and end icon size
  packages/strapi-design-system/src/Button/Button.tsx
  packages/strapi-design-system/src/ModalLayout/__tests__/ModalLayout.spec.tsx
Labels: pr: fix, source: design-system
