Repository strapi/design-system, pull requests merged in 2023-10, with the labels that each got.

#1371 feat(design-system): add onCloseAutoFocus
  .changeset/few-fishes-sip.md
  packages/strapi-design-system/src/Select/MultiSelect.tsx
  packages/strapi-design-system/src/Select/SingleSelect.tsx
Labels: pr: feature, source: design-system

#1380 release: 1.12.0
  .changeset/config.json
  .changeset/few-fishes-sip.md
  .changeset/happy-pants-ring.md
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1381 fix: Combobox rendered text when value prop changes
  .changeset/long-buses-yawn.md
  packages/strapi-design-system/src/Combobox/Combobox.tsx
  packages/strapi-design-system/src/Combobox/__tests__/Combobox.spec.tsx
Labels: pr: fix, source: design-system

#1392 make labelledBy prop optional for Main component and remove redundant type
  .changeset/breezy-jobs-agree.md
  packages/strapi-design-system/src/Layout/HeaderLayout.tsx
  packages/strapi-design-system/src/Main/Main.tsx
Labels: pr: fix, source: design-system

#1395 fix(design-system): never types should be optional
  .changeset/gold-mugs-brake.md
  packages/strapi-design-system/src/Link/Link.tsx
  packages/strapi-design-system/src/LinkButton/LinkButton.tsx
Labels: pr: fix, source: design-system

#1396 release: 1.12.1
  .changeset/breezy-jobs-agree.md
  .changeset/fix-tab-group-types.md
  .changeset/gold-mugs-brake.md
  .changeset/long-buses-yawn.md
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1398 fix(design-system): add CSS properties as a value for responsive values
  .changeset/tough-laws-pay.md
  .gitignore
  packages/strapi-design-system/src/Box/Box.tsx
  packages/strapi-design-system/src/helpers/handleResponsiveValues.ts
  packages/strapi-design-system/src/types.ts
Labels: pr: fix, source: design-system

#1399 chore: remove combobox useEffect used to trigger handleTextValueChange
  packages/strapi-design-system/src/Combobox/Combobox.tsx
  packages/strapi-design-system/src/Combobox/__tests__/Combobox.spec.tsx
Labels: pr: chore

#1402 chore: release 1.12.2
  .changeset/tough-laws-pay.md
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1413 fix: make title optional
  packages/strapi-design-system/src/Alert/Alert.tsx
Labels: pr: fix, source: design-system

#1417 Add spark icon for blocks stable release badge
  .changeset/forty-cycles-attend.md
  packages/strapi-icons/assets/icons/Spark.svg
Labels: pr: feature, source: icons

#1415 Add changelog for optional title
  .changeset/make-title-optional.md
Labels: pr: fix, source: design-system

#1432 release: 1.13.0
  .changeset/forty-cycles-attend.md
  .changeset/make-title-optional.md
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release
