Repository strapi/design-system, pull requests merged in 2024-02, with the labels that each got.

#1605 Feat: new filter "contains" is added on combobox for autocomplete type:list
  .changeset/tasty-cars-hide.md
  docs/stories/Combobox.mdx
  docs/stories/Combobox.stories.tsx
  docs/stories/primitives/Combobox.mdx
  docs/stories/primitives/Combobox.stories.tsx
  packages/primitives/src/components/Combobox/Combobox.tsx
  packages/primitives/src/components/Combobox/__tests__/Combobox.test.tsx
Labels: pr: feature, source: primitives

#1614 Fix: Disable datepicker selection for min and max date
  .changeset/mighty-hats-complain.md
  packages/strapi-design-system/src/DatePicker/DatePicker.tsx
  packages/strapi-design-system/src/DatePicker/__tests__/DatePicker.spec.tsx
Labels: pr: fix, source: design-system

#1615 release: 1.15.0
  .changeset/mighty-hats-complain.md
  .changeset/tasty-cars-hide.md
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release
