Repository strapi/design-system, pull requests merged in 2024-09, with the labels that each got.

#1782 doc: add instruction to build project
  CONTRIBUTING.md
Labels: pr: doc, source: design-system

#1780 fix: several UI bugs
  .changeset/calm-squids-shout.md
  packages/design-system/src/components/Checkbox/Checkbox.tsx
  packages/design-system/src/components/Select/MultiSelect.tsx
  packages/design-system/src/components/Select/SelectParts.tsx
  packages/design-system/src/components/Tag/Tag.tsx
  packages/design-system/src/components/Textarea/Textarea.tsx
Labels: pr: fix, source: design-system

#1783 doc: update link to documentation
  README.md
Labels: pr: doc, source: docs

#1774 fix: accordian style
  .changeset/cold-camels-complain.md
  docs/stories/04-components/Accordion.stories.tsx
  packages/design-system/src/components/Accordion/Accordion.tsx
Labels: pr: fix, source: design-system

#1784 fix: carousel input ui
  .changeset/smart-cheetahs-complain.md
  packages/design-system/src/components/CarouselInput/Carousel.tsx
  packages/design-system/src/components/CarouselInput/CarouselActions.tsx
Labels: pr: fix, source: design-system

#1786 fix: select flex and start icon inline bug
  .changeset/swift-garlics-cross.md
  docs/stories/03-inputs/Select.mdx
  docs/stories/03-inputs/Select.stories.tsx
  packages/design-system/src/components/Select/SingleSelect.tsx
Labels: pr: fix, source: design-system

#1788 fix: props table not showing
  .yarn/patches/@storybook-blocks-npm-7.6.17-481e2fff02.patch
  docs/package.json
  docs/stories/02-primitives/BaseLink.mdx
  docs/stories/02-primitives/Combobox.mdx
  docs/stories/02-primitives/Select.mdx
  docs/stories/03-inputs/Checkbox.mdx
  docs/stories/03-inputs/Combobox.mdx
  docs/stories/03-inputs/DatePicker.mdx
  docs/stories/03-inputs/DateTimePicker.mdx
  docs/stories/03-inputs/JSONInput.mdx
  docs/stories/03-inputs/NumberInput.mdx
  docs/stories/03-inputs/Radio.mdx
  docs/stories/03-inputs/Select.mdx
  docs/stories/03-inputs/TextInput.mdx
  docs/stories/03-inputs/Textarea.mdx
  docs/stories/03-inputs/TimePicker.mdx
  docs/stories/03-inputs/Toggle.mdx
  docs/stories/04-components/Accordion.mdx
  docs/stories/04-components/Avatar.mdx
  docs/stories/04-components/Button.mdx
  docs/stories/04-components/Dialog.mdx
  docs/stories/04-components/Field.mdx
  docs/stories/04-components/IconButton.mdx
  docs/stories/04-components/LinkButton.mdx
  docs/stories/04-components/Modal.mdx
  docs/stories/04-components/Popover.mdx
  docs/stories/04-components/ProgressBar.mdx
  docs/stories/04-components/Switch.mdx
  docs/stories/04-components/Tabs.mdx
  docs/stories/04-components/TextButton.mdx
  docs/stories/05-utilities/AccessibleIcon.mdx
  docs/stories/05-utilities/DesignSystemProvider.mdx
  docs/stories/05-utilities/DismissibleLayer.mdx
  docs/stories/05-utilities/FocusTrap.mdx
  docs/stories/05-utilities/Portal.mdx
  docs/stories/05-utilities/ScrollArea.mdx
  docs/stories/05-utilities/VisuallyHidden.mdx
  docs/stories/Alert.mdx
  docs/stories/Badge.mdx
  docs/stories/Box.mdx
  docs/stories/Breadcrumbs.mdx
  docs/stories/Card.mdx
  docs/stories/Carousel.mdx
  docs/stories/Divider.mdx
  docs/stories/EmptyStateLayout.mdx
  docs/stories/Flex.mdx
  docs/stories/Grid.mdx
  docs/stories/Link.mdx
  docs/stories/Loader.mdx
  docs/stories/Pagination.mdx
  docs/stories/RawTable.mdx
  docs/stories/Searchbar.mdx
  docs/stories/SimpleMenu.mdx
  docs/stories/Status.mdx
  docs/stories/SubNav.mdx
  docs/stories/Table.mdx
  docs/stories/Tag.mdx
  package.json
  yarn.lock
Labels: pr: fix, source: docs
