Repository strapi/design-system, pull requests merged in 2024-06, with the labels that each got.

#1732 chore: refactor ProgressBar to use radix primitive
  .changeset/shy-masks-share.md
  docs/.storybook/preview-head.html
  docs/stories/04-components/Dialog.mdx
  docs/stories/04-components/Dialog.stories.tsx
  docs/stories/04-components/Modal.stories.tsx
  docs/stories/04-components/ProgressBar.mdx
  docs/stories/04-components/ProgressBar.stories.tsx
  docs/stories/ProgressBar.mdx
  docs/stories/ProgressBar.stories.tsx
  packages/design-system/package.json
  packages/design-system/src/components/ProgressBar/ProgressBar.tsx
  yarn.lock
Labels: pr: chore, source: design-system

#1734 chore: refactor Switch to use radix primitive
  .changeset/blue-tomatoes-allow.md
  docs/stories/04-components/Popover.mdx
  docs/stories/04-components/Switch.mdx
  docs/stories/04-components/Switch.stories.tsx
  docs/stories/Switch.mdx
  docs/stories/Switch.stories.tsx
  packages/design-system/package.json
  packages/design-system/src/components/Switch/Switch.tsx
  yarn.lock
Labels: pr: chore, source: design-system

#1735 feat: reimplement size prop
  .changeset/quick-poems-kick.md
  docs/stories/03-inputs/Combobox.mdx
  docs/stories/03-inputs/Combobox.stories.tsx
  docs/stories/03-inputs/DatePicker.mdx
  docs/stories/03-inputs/DatePicker.stories.tsx
  docs/stories/03-inputs/DateTimePicker.mdx
  docs/stories/03-inputs/DateTimePicker.stories.tsx
  docs/stories/03-inputs/NumberInput.mdx
  docs/stories/03-inputs/NumberInput.stories.tsx
  docs/stories/03-inputs/Select.mdx
  docs/stories/03-inputs/Select.stories.tsx
  docs/stories/03-inputs/TextInput.mdx
  docs/stories/03-inputs/TextInput.stories.tsx
  docs/stories/03-inputs/TimePicker.mdx
  docs/stories/03-inputs/TimePicker.stories.tsx
  packages/design-system/src/components/Combobox/Combobox.tsx
  packages/design-system/src/components/DatePicker/DatePicker.tsx
  packages/design-system/src/components/DateTimePicker/DateTimePicker.tsx
  packages/design-system/src/components/Field/Field.tsx
  packages/design-system/src/components/NumberInput/NumberInput.tsx
  packages/design-system/src/components/Select/SelectParts.tsx
  packages/design-system/src/components/Select/SingleSelect.tsx
Labels: pr: enhancement, source: design-system

#1738 fix: icon button sizes & update button docs
  .changeset/cuddly-jokes-stare.md
  docs/stories/02-primitives/BaseLink.mdx
  docs/stories/02-primitives/BaseLink.stories.tsx
  docs/stories/04-components/Button.mdx
  docs/stories/04-components/Button.stories.tsx
  docs/stories/04-components/IconButton.mdx
  docs/stories/04-components/IconButton.stories.tsx
  docs/stories/04-components/LinkButton.mdx
  docs/stories/04-components/LinkButton.stories.tsx
  docs/stories/04-components/ProgressBar.stories.tsx
  docs/stories/04-components/TextButton.mdx
  docs/stories/04-components/TextButton.stories.tsx
  docs/stories/BaseButton.mdx
  docs/stories/BaseButton.stories.tsx
  docs/stories/BaseLink.stories.tsx
  docs/stories/Breadcrumbs.mdx
  docs/stories/Button.mdx
  docs/stories/Button.stories.tsx
  docs/stories/IconButton.mdx
  docs/stories/IconButton.stories.tsx
  docs/stories/Link.mdx
  docs/stories/LinkButton.mdx
  docs/stories/LinkButton.stories.tsx
  docs/stories/Pagination.mdx
  docs/stories/SimpleMenu.mdx
  docs/stories/SubNav.mdx
  docs/stories/TextButton.mdx
  docs/stories/TextButton.stories.tsx
  packages/design-system/src/components/BaseButton/BaseButton.tsx
  packages/design-system/src/components/BaseButton/index.ts
  packages/design-system/src/components/BaseLink/BaseLink.test.tsx
  packages/design-system/src/components/BaseLink/BaseLink.tsx
  packages/design-system/src/components/Box/Box.tsx
  packages/design-system/src/components/Button/Button.tsx
  packages/design-system/src/components/Button/utils.ts
  packages/design-system/src/components/Grid/Grid.tsx
  packages/design-system/src/components/IconButton/IconButton.tsx
  packages/design-system/src/components/LinkButton/LinkButton.tsx
  packages/design-system/src/components/ProgressBar/ProgressBar.tsx
  packages/design-system/src/components/SimpleMenu/Menu.test.tsx
  packages/design-system/src/components/TextButton/TextButton.tsx
  packages/design-system/src/components/index.ts
Labels: pr: fix, source: design-system

#1749 fix: filters shouldn't be removed after clicking on filter tag
  .changeset/swift-cycles-type.md
  docs/stories/Tag.mdx
  docs/stories/Tag.stories.tsx
  packages/design-system/src/components/Tag/Tag.test.tsx
  packages/design-system/src/components/Tag/Tag.tsx
Labels: pr: fix, source: design-system

#1748 chore: standardise forwardRefs across components
  .changeset/rotten-eagles-matter.md
  packages/design-system/src/components/Breadcrumbs/Breadcrumbs.tsx
  packages/design-system/src/components/Breadcrumbs/Crumb.tsx
  packages/design-system/src/components/Breadcrumbs/CrumbLink.tsx
  packages/design-system/src/components/Breadcrumbs/CrumbSimpleMenu.tsx
  packages/design-system/src/components/Card/Card.tsx
  packages/design-system/src/components/Card/CardAction.tsx
  packages/design-system/src/components/Card/CardCheckbox.tsx
  packages/design-system/src/components/EmptyStateLayout/EmptyStateLayout.tsx
  packages/design-system/src/components/Popover/Popover.tsx
  packages/design-system/src/components/RawTable/RawCell.tsx
  packages/design-system/src/components/RawTable/RawTable.tsx
  packages/design-system/src/components/SimpleMenu/SimpleMenu.tsx
  packages/design-system/src/components/Table/Cell.tsx
  packages/design-system/src/components/Table/Table.tsx
Labels: pr: chore, source: design-system

#1751 fix: subNavHeader search clear action is not working
  packages/design-system/src/components/Searchbar/Searchbar.tsx
Labels: pr: fix, source: design-system

#1750 fix: typography hover style
  .changeset/few-cameras-joke.md
  packages/design-system/src/components/Link/Link.tsx
Labels: pr: fix, source: design-system

#1753 fix: move the Modal Content inside the Overlay component and change the background rule of the Overlay
  .changeset/short-pets-attack.md
  packages/design-system/src/components/Modal/Modal.tsx
Labels: pr: fix, source: design-system
