Repository strapi/design-system, pull requests merged in 2024-04, with the labels that each got.

#1655 feat: Controlled tabs
  .changeset/brave-trainers-tell.md
  .github/workflows/bundle-size.yml
  .github/workflows/experimental.yml
  .github/workflows/tests.yml
  packages/strapi-design-system/src/DatePicker/__tests__/DatePicker.spec.tsx
  packages/strapi-design-system/src/DateTimePicker/__tests__/DateTimePicker.spec.tsx
  packages/strapi-design-system/src/Tabs/TabGroup.tsx
Labels: pr: enhancement, source: design-system

#1674 Fix: select padding
  .changeset/brown-jars-sneeze.md
  packages/strapi-design-system/src/Select/SelectParts.tsx
Labels: pr: fix, source: design-system

#1675 Fix: accordian complete header clickable issue
  .changeset/slow-deers-confess.md
  packages/strapi-design-system/src/Accordion/AccordionToggle.tsx
Labels: pr: fix, source: design-system

#1677 chore: remove dependabot
  .github/dependabot.yml
Labels: pr: chore, source: tooling

#1684 feat: add zIndex prop to Dialog
  .changeset/spicy-items-wink.md
  packages/strapi-design-system/src/Dialog/Dialog.tsx
Labels: pr: enhancement, source: design-system

#1689 release: 1.18.0
  .changeset/brown-jars-sneeze.md
  .changeset/slow-deers-confess.md
  .github/dependabot.yml
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-design-system/src/Dialog/Dialog.tsx
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1690 release: 1.18.0
  .changeset/brown-jars-sneeze.md
  .changeset/slow-deers-confess.md
  .changeset/spicy-items-wink.md
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1699 fix(design-system): main nav icons should be 1.6rem
  .changeset/quick-buckets-grab.md
  packages/strapi-design-system/src/MainNav/NavLink.tsx
Labels: pr: fix, source: design-system

#1708 fix(icons): dont use rem sizes on width and height properties
  .changeset/afraid-crews-dream.md
  packages/strapi-design-system/src/ModalLayout/__tests__/__snapshots__/ModalLayout.test.tsx.snap
  packages/strapi-design-system/src/Tag/__tests__/Tag.test.tsx
  packages/strapi-icons/svgr.icons.config.js
  packages/strapi-icons/svgr.symbols.config.js
  turbo.json
Labels: pr: fix, source: icons
