Repository strapi/design-system, pull requests merged in 2024-07, with the labels that each got.

#1752 fix: add gap inside SubNavHeader
  .changeset/six-pans-sip.md
  packages/design-system/src/components/SubNav/SubNavHeader.tsx
Labels: pr: fix, source: design-system

#1746 chore: version packages for release (rc)
  .changeset/pre.json
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  yarn.lock
Labels: source: release, pr: release

#1754 chore: use the default github secret for changeset
  .changeset/config.json
  .changeset/slimy-shirts-cover.md
  .github/workflows/release.yml
Labels: pr: chore, source: release

#1759 fix: modal footer issues
  .changeset/lazy-kiwis-protect.md
  packages/design-system/src/components/Modal/Modal.tsx
Labels: pr: fix, source: design-system

#1758 fix: simple menu with icon
  .changeset/beige-rings-destroy.md
  docs/stories/SimpleMenu.mdx
  docs/stories/SimpleMenu.stories.tsx
  packages/design-system/src/components/Breadcrumbs/CrumbSimpleMenu.tsx
  packages/design-system/src/components/SimpleMenu/Menu.tsx
  packages/design-system/src/components/SimpleMenu/SimpleMenu.test.tsx
  packages/design-system/src/components/SimpleMenu/SimpleMenu.tsx
Labels: pr: fix, source: design-system

#1760 fix: menu item disabled style wrongly applied
  .changeset/chatty-jokes-grow.md
  packages/design-system/src/components/SimpleMenu/Menu.tsx
Labels: pr: fix, source: design-system

#1761 fix: styling for icon button and field label
  .changeset/quick-pans-occur.md
  docs/stories/04-components/IconButton.mdx
  docs/stories/04-components/IconButton.stories.tsx
  packages/design-system/src/components/Field/Field.tsx
  packages/design-system/src/components/IconButton/IconButton.tsx
Labels: pr: fix, source: design-system

#1764 fix: badge background and text color
  .changeset/mean-cycles-nail.md
  docs/stories/Badge.mdx
  docs/stories/Badge.stories.tsx
  packages/design-system/src/components/Badge/Badge.tsx
Labels: pr: fix, source: design-system

#1765 fix: link hover color
  .changeset/metal-poems-type.md
  packages/design-system/src/components/Link/Link.tsx
Labels: pr: fix, source: design-system

#1766 fix: remove static placeholder from SubNavHeader
  .changeset/small-zebras-explain.md
  packages/design-system/src/components/SubNav/SubNavHeader.tsx
Labels: pr: fix, source: design-system
