Repository strapi/design-system, pull requests merged in 2024-05, with the labels that each got.

#1710 chore!: make CardAction a react component
  .changeset/nervous-spiders-sell.md
  docs/stories/Card.stories.tsx
  docs/stories/getting started/migration guides/migration-v1-v2.mdx
  packages/design-system/src/components/Card/CardAction.ts
  packages/design-system/src/components/Card/CardAction.tsx
  packages/design-system/src/components/Card/CardCheckbox.tsx
Labels: pr: chore, source: design-system

#1713 feat!: refactor field component API
  .changeset/red-peas-suffer.md
  docs/components/Typography.tsx
  docs/stories/Field.mdx
  docs/stories/Field.stories.tsx
  docs/stories/Inputs/Checkbox.stories.tsx
  docs/stories/Inputs/Combobox.stories.tsx
  docs/stories/Inputs/DatePicker.stories.tsx
  docs/stories/Inputs/DateTimePicker.stories.tsx
  docs/stories/Inputs/JSONInput.stories.tsx
  docs/stories/Inputs/NumberInput.stories.tsx
  docs/stories/Inputs/Select.stories.tsx
  docs/stories/Inputs/TextInput.stories.tsx
  docs/stories/Inputs/Textarea.stories.tsx
  docs/stories/Inputs/TimePicker.stories.tsx
  docs/stories/Inputs/Toggle.stories.tsx
  docs/stories/components/Field.mdx
  docs/stories/components/Field.stories.tsx
  docs/stories/getting started/migration guides/migration-v1-v2.mdx
  packages/design-system/.eslintrc
  packages/design-system/src/components/Accordion/AccordionGroup.tsx
  packages/design-system/src/components/Box/Box.tsx
  packages/design-system/src/components/CarouselInput/CarouselInput.tsx
  packages/design-system/src/components/Combobox/Combobox.tsx
  packages/design-system/src/components/Combobox/__tests__/Combobox.test.tsx
  packages/design-system/src/components/DatePicker/DatePicker.tsx
  packages/design-system/src/components/DateTimePicker/DateTimePicker.tsx
  packages/design-system/src/components/DateTimePicker/__tests__/DateTimePicker.test.tsx
  packages/design-system/src/components/Field/Field.test.tsx
  packages/design-system/src/components/Field/Field.tsx
  packages/design-system/src/components/Field/FieldAction.tsx
  packages/design-system/src/components/Field/FieldContext.ts
  packages/design-system/src/components/Field/FieldError.tsx
  packages/design-system/src/components/Field/FieldHint.tsx
  packages/design-system/src/components/Field/FieldInput.tsx
  packages/design-system/src/components/Field/FieldLabel.tsx
  packages/design-system/src/components/Field/index.ts
  packages/design-system/src/components/Flex/Flex.tsx
  packages/design-system/src/components/Grid/Grid.tsx
  packages/design-system/src/components/IconButton/IconButton.tsx
  packages/design-system/src/components/JSONInput/JSONInput.tsx
  packages/design-system/src/components/NumberInput/NumberInput.tsx
  packages/design-system/src/components/Pagination/components.tsx
  packages/design-system/src/components/Searchbar/Searchbar.tsx
  packages/design-system/src/components/Select/MultiSelect.tsx
  packages/design-system/src/components/Select/SelectParts.tsx
  packages/design-system/src/components/Select/SingleSelect.tsx
  packages/design-system/src/components/Select/__tests__/SingleSelect.test.tsx
  packages/design-system/src/components/TextInput/TextInput.tsx
  packages/design-system/src/components/TextInput/__tests__/TextInput.test.tsx
  packages/design-system/src/components/Textarea/Textarea.tsx
  packages/design-system/src/components/Toggle/Toggle.tsx
  packages/design-system/src/components/Toggle/__tests__/Toggle.test.tsx
Labels: pr: enhancement, flag: 💥 Breaking change, source: design-system

#1703 chore!: remove cms specific components
  .changeset/smooth-bananas-tie.md
  docs/stories/GridLayout.mdx
  docs/stories/GridLayout.stories.tsx
  docs/stories/HeaderLayout.mdx
  docs/stories/HeaderLayout.stories.tsx
  docs/stories/Layout.mdx
  docs/stories/Layout.stories.tsx
  docs/stories/TwoColsLayout.mdx
  docs/stories/TwoColsLayout.stories.tsx
  docs/stories/getting started/migration guides/migration-v1-v2.mdx
  packages/design-system/src/components/Layout/ActionLayout.tsx
  packages/design-system/src/components/Layout/ContentLayout.tsx
  packages/design-system/src/components/Layout/GridLayout.tsx
  packages/design-system/src/components/Layout/HeaderLayout.tsx
  packages/design-system/src/components/Layout/TwoColsLayout.tsx
  packages/design-system/src/components/Layout/index.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/hooks/useElementOnScreen.ts
  packages/design-system/src/hooks/useResizeObserver.ts
Labels: pr: chore, flag: 💥 Breaking change, source: design-system

#1715 chore: add chromatic workflow and some stories
  .github/workflows/chromatic.yml
  README.md
  docs/.storybook/main.ts
  docs/.storybook/preview.tsx
  docs/chromatic.config.json
  docs/package.json
  docs/stories/Inputs/Checkbox.stories.tsx
  docs/stories/Inputs/Combobox.stories.tsx
  docs/stories/Inputs/DatePicker.stories.tsx
  docs/stories/Inputs/DateTimePicker.stories.tsx
  docs/stories/Inputs/JSONInput.stories.tsx
  docs/stories/Inputs/NumberInput.stories.tsx
  docs/stories/Inputs/Select.stories.tsx
  docs/stories/Inputs/TextInput.stories.tsx
  docs/stories/Inputs/Textarea.stories.tsx
  docs/stories/Inputs/TimePicker.stories.tsx
  docs/stories/Inputs/Toggle.stories.tsx
  docs/stories/foundations/icons/Icons.stories.tsx
  docs/stories/foundations/icons/Symbols.stories.tsx
  yarn.lock
Labels: pr: chore, source: tooling

#1719 chore!: remove deprecated options
  .changeset/smooth-carrots-pretend.md
  docs/stories/Divider.stories.tsx
  docs/stories/ModalLayout.stories.tsx
  docs/stories/RawTable.stories.tsx
  docs/stories/Table.stories.tsx
  packages/design-system/.eslintrc
  packages/design-system/package.json
  packages/design-system/src/components/Accordion/Accordion.tsx
  packages/design-system/src/components/Accordion/AccordionContext.tsx
  packages/design-system/src/components/Accordion/AccordionToggle.tsx
  packages/design-system/src/components/CarouselInput/CarouselActions.tsx
  packages/design-system/src/components/Combobox/Combobox.tsx
  packages/design-system/src/components/Combobox/ComboboxList.tsx
  packages/design-system/src/components/Combobox/ComboboxOption.tsx
  packages/design-system/src/components/Combobox/__tests__/Combobox.test.tsx
  packages/design-system/src/components/Combobox/index.ts
  packages/design-system/src/components/DatePicker/DatePicker.tsx
  packages/design-system/src/components/DatePicker/__tests__/DatePicker.test.tsx
  packages/design-system/src/components/DateTimePicker/DateTimePicker.tsx
  packages/design-system/src/components/Divider/Divider.tsx
  packages/design-system/src/components/IconButton/IconButton.tsx
  packages/design-system/src/components/JSONInput/__tests__/JSONInput.test.tsx
  packages/design-system/src/components/JSONInput/utils/decorationExtension.ts
  packages/design-system/src/components/Select/MultiSelect.tsx
  packages/design-system/src/components/SimpleMenu/Menu.tsx
  packages/design-system/src/components/TimePicker/TimePicker.tsx
  packages/design-system/src/helpers/getDefaultLocale.ts
  packages/design-system/src/hooks/useControllableState.ts
  yarn.lock
Labels: pr: chore, source: design-system

#1718 chore!: remove size from inputs
  .changeset/modern-garlics-drop.md
  .changeset/ninety-spoons-grab.md
  docs/stories/Inputs/DatePicker.mdx
  docs/stories/Inputs/DatePicker.stories.tsx
  docs/stories/Inputs/NumberInput.mdx
  docs/stories/Inputs/NumberInput.stories.tsx
  docs/stories/Inputs/TextInput.mdx
  docs/stories/Inputs/TextInput.stories.tsx
  docs/stories/Inputs/TimePicker.mdx
  docs/stories/Inputs/TimePicker.stories.tsx
  docs/stories/Inputs/Toggle.mdx
  docs/stories/Inputs/Toggle.stories.tsx
  docs/stories/Searchbar.stories.tsx
  packages/design-system/src/components/Badge/Badge.tsx
  packages/design-system/src/components/BaseCheckbox/BaseCheckbox.test.tsx
  packages/design-system/src/components/BaseCheckbox/BaseCheckbox.tsx
  packages/design-system/src/components/BaseCheckbox/utils.ts
  packages/design-system/src/components/BaseRadio/BaseRadio.tsx
  packages/design-system/src/components/BaseRadio/RadioGroup.tsx
  packages/design-system/src/components/BaseRadio/context.ts
  packages/design-system/src/components/BaseRadio/utils.ts
  packages/design-system/src/components/Button/Button.tsx
  packages/design-system/src/components/Button/constants.ts
  packages/design-system/src/components/Button/utils.ts
  packages/design-system/src/components/Card/CardAsset.tsx
  packages/design-system/src/components/Combobox/Combobox.tsx
  packages/design-system/src/components/DatePicker/DatePicker.tsx
  packages/design-system/src/components/DateTimePicker/DateTimePicker.tsx
  packages/design-system/src/components/Field/Field.tsx
  packages/design-system/src/components/LinkButton/LinkButton.tsx
  packages/design-system/src/components/NumberInput/NumberInput.tsx
  packages/design-system/src/components/Searchbar/Searchbar.tsx
  packages/design-system/src/components/Select/MultiSelect.tsx
  packages/design-system/src/components/Select/SelectParts.tsx
  packages/design-system/src/components/Select/SingleSelect.tsx
  packages/design-system/src/components/SubNav/SubNavHeader.tsx
  packages/design-system/src/components/ThemeProvider/ThemeProvider.tsx
  packages/design-system/src/components/Toggle/Toggle.tsx
  packages/design-system/src/styles/inputs.ts
  packages/design-system/src/themes/sizes.ts
Labels: pr: chore, source: design-system

#1716 chore: add workflows for issue handling
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/issues_dailyCron.yml
  .github/workflows/issues_handleLabel.yml
Labels: pr: chore, source: tooling

#1721 feat: convert accordion to radix primitive
  .changeset/tidy-games-divide.md
  docs/.storybook/main.ts
  docs/components/Markdown.tsx
  docs/components/ViewSource.tsx
  docs/package.json
  docs/stories/Accordion.mdx
  docs/stories/Accordion.stories.tsx
  docs/stories/BaseRadio.stories.tsx
  docs/stories/Inputs/Checkbox.mdx
  docs/stories/Inputs/Combobox.mdx
  docs/stories/Inputs/DatePicker.mdx
  docs/stories/Inputs/DateTimePicker.mdx
  docs/stories/Inputs/JSONInput.mdx
  docs/stories/Inputs/NumberInput.mdx
  docs/stories/Inputs/Radio.mdx
  docs/stories/Inputs/Radio.stories.tsx
  docs/stories/Inputs/Select.mdx
  docs/stories/Inputs/TextInput.mdx
  docs/stories/Inputs/Textarea.mdx
  docs/stories/Inputs/TimePicker.mdx
  docs/stories/Inputs/Toggle.mdx
  docs/stories/components/Accordion.mdx
  docs/stories/components/Accordion.stories.tsx
  docs/stories/components/Field.mdx
  docs/stories/getting started/migration guides/migration-v1-v2.mdx
  docs/stories/primitives/Combobox.mdx
  docs/stories/primitives/Select.mdx
  docs/stories/utilities/AccessibleIcon.mdx
  docs/stories/utilities/VisuallyHidden.mdx
  packages/design-system/package.json
  packages/design-system/src/components/Accordion/Accordion.test.tsx
  packages/design-system/src/components/Accordion/Accordion.tsx
  packages/design-system/src/components/Accordion/AccordionContent.tsx
  packages/design-system/src/components/Accordion/AccordionContext.tsx
  packages/design-system/src/components/Accordion/AccordionGroup.tsx
  packages/design-system/src/components/Accordion/AccordionToggle.tsx
  packages/design-system/src/components/Accordion/index.ts
  packages/design-system/src/styles/easings.ts
  packages/design-system/src/themes/__tests__/extendTheme.test.ts
  packages/design-system/src/themes/common-theme.ts
  yarn.lock
Labels: pr: enhancement, source: design-system

#1722 feat!: refactor Tooltip to use radix-ui
  .changeset/fair-swans-shake.md
  .changeset/wild-colts-return.md
  docs/stories/00-getting started/migration guides/migration-v1-v2.mdx
  docs/stories/04-components/Accordion.stories.tsx
  docs/stories/04-components/Tooltip.mdx
  docs/stories/04-components/Tooltip.stories.tsx
  docs/stories/Card.stories.tsx
  docs/stories/Carousel.stories.tsx
  docs/stories/IconButton.stories.tsx
  docs/stories/RawTable.stories.tsx
  docs/stories/Table.stories.tsx
  docs/stories/Tooltip.mdx
  docs/stories/Tooltip.stories.tsx
  packages/design-system/package.json
  packages/design-system/src/components/CarouselInput/CarouselImage.tsx
  packages/design-system/src/components/IconButton/IconButton.tsx
  packages/design-system/src/components/ModalLayout/ModalHeader.tsx
  packages/design-system/src/components/ModalLayout/__tests__/__snapshots__/ModalLayout.test.tsx.snap
  packages/design-system/src/components/SubNav/SubNavHeader.tsx
  packages/design-system/src/components/Tooltip/Tooltip.tsx
  packages/design-system/src/components/Tooltip/__tests__/Tooltip.test.tsx
  packages/design-system/src/components/Tooltip/__tests__/__snapshots__/Tooltip.test.tsx.snap
  packages/design-system/src/components/Tooltip/hooks/useTooltipHandlers.ts
  packages/design-system/src/components/Tooltip/hooks/useTooltipLayout.ts
  packages/design-system/src/components/Tooltip/utils/__tests__/positionTooltip.spec.ts
  packages/design-system/src/components/Tooltip/utils/positionTooltip.ts
  packages/design-system/src/utilities/DesignSystemProvider.tsx
  turbo.json
  yarn.lock
Labels: pr: feature, source: design-system

#1727 chore!: refactor Dialog component to use radix primitive
  .changeset/chilly-wasps-accept.md
  .changeset/grumpy-seahorses-give.md
  docs/.storybook/preview.tsx
  docs/stories/00-getting started/migration guides/migration-v1-v2.mdx
  docs/stories/01-foundations/typography.mdx
  docs/stories/04-components/Dialog.mdx
  docs/stories/04-components/Dialog.stories.tsx
  docs/stories/04-components/Modal.mdx
  docs/stories/04-components/Modal.stories.tsx
  docs/stories/Dialog.mdx
  docs/stories/Dialog.stories.tsx
  docs/stories/Grid.mdx
  docs/stories/SimpleMenu.mdx
  docs/stories/SimpleMenu.stories.tsx
  docs/stories/Typography.mdx
  docs/stories/Typography.stories.tsx
  packages/design-system/package.json
  packages/design-system/src/components/DatePicker/DatePicker.tsx
  packages/design-system/src/components/Dialog/Dialog.test.tsx
  packages/design-system/src/components/Dialog/Dialog.tsx
  packages/design-system/src/components/Dialog/DialogBody.tsx
  packages/design-system/src/components/Dialog/DialogFooter.tsx
  packages/design-system/src/components/Dialog/index.ts
  packages/design-system/src/components/Modal/Modal.tsx
  packages/design-system/src/components/Radio/Radio.tsx
  packages/design-system/src/components/RawTable/RawCell.tsx
  packages/design-system/src/hooks/useId.ts
  packages/design-system/src/hooks/useIntersection.ts
  packages/design-system/src/hooks/useIsomorphicLayoutEffect.ts
  packages/design-system/src/hooks/useLockScroll.ts
  packages/design-system/src/hooks/useMeasure.ts
  packages/design-system/src/index.ts
  packages/design-system/src/styles/motion.ts
  packages/design-system/src/utilities/DesignSystemProvider.tsx
  yarn.lock
Labels: pr: enhancement, source: design-system

#1729 Feat/add lightning icon
  .changeset/two-weeks-protect.md
  packages/strapi-icons/assets/icons/Lightning.svg
Labels: pr: enhancement, source: design-system

#1730 release: 1.19.0
  .changeset/two-weeks-protect.md
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release

#1731 Release/1.19.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/issues_dailyCron.yml
  .github/workflows/issues_handleLabel.yml
  packages/primitives/package.json
  packages/strapi-design-system/package.json
  packages/strapi-icons/assets/icons/Lightning.svg
  packages/strapi-icons/package.json
  yarn.lock
Labels: source: release, pr: release
