Repository strapi/design-system, pull requests merged in 2024-10, with the labels that each got.

#1794 Optional iconProps can be passed to Accordions
  .changeset/stale-apes-approve.md
  packages/design-system/src/components/Accordion/Accordion.tsx
Labels: pr: enhancement, source: design-system

#1793 fix: added cursor pointer for checkbox and pre-filled list
  .changeset/sweet-timers-help.md
  packages/design-system/src/components/Checkbox/Checkbox.tsx
  packages/design-system/src/components/Select/SelectParts.tsx
Labels: pr: enhancement, source: design-system, community

#1801 enhancement: add xs size to status component
  .changeset/chilly-trains-push.md
  docs/stories/Status.mdx
  docs/stories/Status.stories.tsx
  packages/design-system/src/components/Status/Status.tsx
Labels: pr: enhancement, source: design-system

#1802 chore: remove Status showBullet option
  docs/stories/Status.stories.tsx
  packages/design-system/src/components/Status/Status.test.tsx
  packages/design-system/src/components/Status/Status.tsx
Labels: pr: chore, source: design-system
