Repository strapi/design-system, pull requests merged in 2024-11, with the labels that each got.

#1816 fix: combobox primitive empty state when autocomplete is none
  .changeset/blue-humans-sin.md
  packages/primitives/src/components/Combobox/Combobox.test.tsx
  packages/primitives/src/components/Combobox/Combobox.tsx
Labels: pr: fix, issue: bug, source: primitives

#1812 chore: add a11y add-on for storybook
  .changeset/metal-bees-applaud.md
  docs/.storybook/main.ts
  package.json
  yarn.lock
Labels: pr: chore, source: design-system

#1814 feat : add new svg icons for "xls", "zip" and "csv"
  .changeset/ninety-queens-develop.md
  packages/icons/assets/icons/FileCsv.svg
  packages/icons/assets/icons/FileXls.svg
  packages/icons/assets/icons/FileZip.svg
Labels: pr: enhancement, source: icons

#1829 fix(Menu): add disabled prop to menu trigger not applied through asChild
  .changeset/grumpy-peaches-design.md
  packages/design-system/src/components/SimpleMenu/Menu.test.tsx
  packages/design-system/src/components/SimpleMenu/Menu.tsx
Labels: pr: fix, source: design-system

#1822 feat : Add XS size variant to IconButton component
  .changeset/rotten-pears-vanish.md
  docs/stories/04-components/IconButton.stories.tsx
  packages/design-system/src/components/Button/Button.tsx
  packages/design-system/src/components/Button/constants.ts
  packages/design-system/src/components/IconButton/IconButton.tsx
Labels: pr: enhancement, source: design-system, community

#1821 fix(Checkbox): center checkbox icon
  .changeset/purple-rivers-divide.md
  packages/design-system/src/components/Checkbox/Checkbox.tsx
Labels: pr: fix, source: design-system, community

#1831 feat: add new check circle empty icon
  .changeset/hot-suits-invent.md
  packages/icons/assets/icons/CheckCircleEmpty.svg
Labels: pr: enhancement, source: icons, community
