Repository strapi/design-system, pull requests merged in 2025-02, with the labels that each got.

#1846 feat: add menu separator component
  .changeset/bright-grapes-juggle.md
  docs/stories/SimpleMenu.mdx
  docs/stories/SimpleMenu.stories.tsx
  packages/design-system/src/components/SimpleMenu/Menu.tsx
Labels: pr: feature, source: design-system

#1845 feat: add onCloseAutoFocus to Menu.Content
  .changeset/little-turtles-wait.md
  packages/design-system/src/components/SimpleMenu/Menu.tsx
Labels: pr: feature, source: design-system

#1844 Register lodash as dependency to externalize it
  .changeset/serious-mangos-pull.md
  packages/design-system/package.json
  packages/primitives/package.json
  yarn.lock
Labels: pr: chore, source: dependencies

#1847 fix: pass menu separator ref
  .changeset/popular-terms-remain.md
  packages/design-system/src/components/SimpleMenu/Menu.tsx
Labels: pr: fix, source: design-system

#1850 feat(Menu): add start and end icons to MenuItem
  .changeset/stale-clouds-divide.md
  docs/stories/SimpleMenu.stories.tsx
  packages/design-system/src/components/SimpleMenu/Menu.test.tsx
  packages/design-system/src/components/SimpleMenu/Menu.tsx
Labels: pr: enhancement, source: design-system

#1855 Update migration guide & avatar doc
  .changeset/smooth-adults-jump.md
  docs/stories/00-getting started/migration guides/migration-v1-v2.mdx
  docs/stories/04-components/Avatar.mdx
Labels: pr: doc, source: design-system

#1860 feat: add ArrowLine, SealCheck and ListSearch icons
  .changeset/happy-squids-remain.md
  packages/icons/assets/icons/ArrowLineLeft.svg
  packages/icons/assets/icons/ArrowLineRight.svg
  packages/icons/assets/icons/ListSearch.svg
  packages/icons/assets/icons/SealCheck.svg
Labels: pr: feature, source: icons

#1865 feat: add ArrowsOut and Stop icons
  .changeset/itchy-parrots-kick.md
  packages/icons/assets/icons/ArrowsOut.svg
  packages/icons/assets/icons/Stop.svg
Labels: pr: feature, source: icons

#1856 fix: add missing scroll wrapper to `Select` element
  .changeset/tiny-melons-help.md
  packages/design-system/src/components/Select/SelectParts.tsx
Labels: pr: fix, source: design-system, community
