Repository strapi/design-system, pull requests merged in 2025-03, with the labels that each got.

#1877 fix: remove selected item background
  .changeset/fifty-hats-itch.md
  packages/design-system/src/components/Select/SelectParts.tsx
Labels: pr: fix, issue: bug, source: design-system

#1879 fix: add scrollbar to combobox
  .changeset/rich-papayas-fry.md
  packages/design-system/src/components/Combobox/Combobox.tsx
Labels: pr: fix, source: design-system

#1880 fix: scrollbar ui
  .changeset/cool-mayflies-arrive.md
  packages/design-system/src/utilities/ScrollArea/ScrollArea.tsx
Labels: pr: fix, source: design-system

#1886 fixing h3 font size
  docs/components/Typography.tsx
Labels: pr: doc, source: docs

#1889 fix: menu zindex
  .changeset/tiny-cups-reflect.md
  packages/design-system/src/components/SimpleMenu/Menu.tsx
Labels: pr: fix, source: design-system

#1885 fix: accordion title overflow issue
  .changeset/famous-dryers-float.md
  packages/design-system/src/components/Accordion/Accordion.tsx
Labels: pr: fix, source: design-system, community

#1878 feat: use xs iconbutton for combobox, datepicker and searchbar
  .changeset/famous-elephants-confess.md
  packages/design-system/src/components/Combobox/Combobox.test.tsx
  packages/design-system/src/components/Combobox/Combobox.tsx
  packages/design-system/src/components/DatePicker/DatePicker.tsx
  packages/design-system/src/components/Searchbar/Searchbar.tsx
Labels: pr: enhancement, source: design-system

#1892 fix: searchbar clear button
  .changeset/honest-crabs-crash.md
  packages/design-system/src/components/Searchbar/Searchbar.tsx
Labels: pr: fix, source: design-system

#1894 Searchbar clear button type
  .changeset/dull-ants-wash.md
  packages/design-system/src/components/Searchbar/Searchbar.tsx
Labels: pr: fix, source: design-system
