Repository strapi/design-system, pull requests merged in 2025-06, with the labels that each got.

#1917 fix: scroll in combobox inside modal
  .changeset/wild-geese-lay.md
  packages/design-system/src/components/Modal/Modal.tsx
Labels: pr: fix, severity: medium, source: design-system

#1918 chore: enable experimental release for the DS
  .changeset/proud-rivers-cross.md
  .github/workflows/experimental.yml
Labels: pr: chore, source: release

#1920 fix: datetime fields responsive
  .changeset/thirty-wasps-explode.md
  packages/design-system/src/components/DateTimePicker/DateTimePicker.tsx
Labels: pr: fix, severity: low, source: design-system

#1928 fix: disabled checked checkboxes border
  .changeset/wise-doors-hope.md
  docs/stories/03-inputs/Checkbox.stories.tsx
  packages/design-system/src/components/Checkbox/Checkbox.tsx
Labels: pr: fix, source: design-system

#1927 fix: multi-select items style and clear button
  .changeset/good-badgers-brush.md
  packages/design-system/src/components/Select/SelectParts.tsx
Labels: pr: fix, source: design-system

#1937 fix: modify the creatable ui
  .changeset/thick-chefs-return.md
  packages/design-system/src/components/Combobox/Combobox.tsx
Labels: pr: fix, source: design-system
